@media screen and (max-width: 650px) {
  .Top {
    height: 875px;
  }
  .Games .splide__pagination {
    bottom: 1rem;
  }
  .Team_wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .collection .splide__pagination {
    bottom: -5rem !important;
  }
  .Games > h1,
  .Roadmap > h1,
  .Team > h1,
  .Investors > h1,
  .Contacts > h1,
  .creators > h1,
  .Players > h1 {
    font-size: 36px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0em;
  }
  .Roadmap > p,
  .Team > p,
  .Investors > p,
  .Contacts > p,
  .creators > p,
  .Players > p {
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    color: #9294a0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
  }
  .creators .lists .box > h1,
  .Players .lists .box > h1 {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    width: 85%;
    margin-bottom: 1rem;
  }
  .creators .lists .box,
  .Players .lists .box {
    transform: translateY(-18%);
  }
}
