@media screen and (max-width: 800px) {
    main h1 {
      font-size: 43px;
    }
    .Games {
      padding-top: 5rem;
    }
    .Games > h1
    {
      margin-bottom: 3rem;
    }
    .Games .splide__pagination {
      bottom: 0rem !important;
    }
    .Games .splide__slide {
      transform: scale(1) !important;
    }
    .collection .splide__pagination {
      bottom: -5rem !important;
    }
    .collection .splide__pagination__page {
      margin-top: 0px !important;
    }
    .splide {
      padding-top: 0em !important;
    }
    .creators .lists,
    .Players .lists {
      padding-top: 3rem;
      padding-left: 3rem;
      padding-right: 3rem;
    }
    .Team_wrapper {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .Investors .Investor_pics {
      grid-gap: 1em;
    }
    .collection {
      padding-top: 6rem;
    }
  }