@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.App {
  overflow-x: hidden;
}
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.common_width {
  width: 1400px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
.splide__pagination {
  bottom: -1rem !important;
}
.splide__pagination__page {
  margin: 0px 5px !important;
  height: 20px !important;
  margin-top: 4rem !important;
  border-radius: 50% !important;
  width: 20px !important;
  border: 1px solid #989797 !important;
  background: #141837 !important;
}
.splide__pagination__page.is-active {
  background: linear-gradient(
    54.82deg,
    #24e7f2 -17.76%,
    #e119ef 116.13%
  ) !important;
}
nav,
ul {
  list-style: none;
}

body {
  background-color: #000000;
  font-family: 'Montserrat', sans-serif;
}
header,
header nav {
  display: flex;
  align-items: center;
}
header {
  justify-content: space-between;
  height: 150px;
}
header > img {
  margin-right: 50px;
}
header nav > * + * {
  margin-left: 0.5rem;
}
.Top {
  height: 830px;
  display: flex;
  flex-direction: column;
}
.Top::after {
  height: 800px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  content: '';
  background: url('../assets/img/header/banner.png');
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
main {
  color: #fff;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: top;
  flex: 1;
}
main .presentation {
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
}
main button img:hover {
  opacity: 0.88;
}
main h1 {
  font-size: 63px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0em;
  text-align: center;
  margin-bottom: 5px;
}
main h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #2ddef3;
  margin-bottom: 5px;
  margin-top: 20px;
}
main h3 {
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #c82df3;
  margin-bottom: 40px;
}
main p {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #c0c1c9;
  margin-bottom: 3.5rem;
}
main button,
.Contacts_wrapper button {
  background: transparent;
  border: none;
  outline: none;
}
main button img {
  width: 300px;
}
main .box_wrapper {
  background: linear-gradient(
    90deg,
    rgba(225, 25, 239, 0.2) 20%,
    rgba(36, 231, 242, 0.2) 100%
  );

  padding: 2.25rem 2.25rem;
  width: 900px;
  margin-top: 3rem;
  border-radius: 20px;
}
main .box_wrapper p {
  margin-bottom: 0px;
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #adb0b4;
}

.Games {
  padding-top: 6rem;
  color: #fff;
}
.Games_wrapper {
  position: relative;
}
.Games > h1 {
  margin-bottom: 1rem;
}
.Games .cards_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.GameCard {
  background-color: #09121e;
  border-radius: 15px;
}
.GameCard .presentation {
  padding: 1.8rem;
}
.GameCard > img {
  width: 100%;
}
.GameCard .presentation h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  margin-bottom: 10px;
}
.GameCard .presentation p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #9294a0;
}
.Games .splide__slide {
  transform: scale(0.9) !important;
}
.Games .splide__slide.is-visible.is-next {
  transform: scale(1) !important;
}
.collection {
  padding-top: 4rem;
  padding-bottom: 6rem;
}
.collection > h2 {
  font-size: 22px;
  font-weight: 600;
  line-height: 31px;
  letter-spacing: 0em;
  text-align: center;
  color: #2ddef3;
  margin-bottom: 3rem;
}
.collection > h1 {
  font-size: 43px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
  color: #fff;
}
.splide {
  padding-top: 2em !important;
  padding-bottom: 3em !important;
  padding-left: 0em !important;
  padding-right: 0em !important;
}
.CollectionCard {
  background-color: #09121e;
  border-radius: 15px;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  width: 100%;
}
.collection .splide.is-initialized {
  padding: 0px !important;
}
.collection .splide__pagination {
  bottom: -4rem !important;
}
.CollectionCard .presentation {
  padding-top: 1rem;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  height: 5.5rem;
}
.CollectionCard .presentation .top_area {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.CollectionCard .presentation .bottom_area {
  display: flex;
  align-items: center;
  justify-content: center;
}
.CollectionCard .presentation .bottom_area p {
  display: flex;
  align-items: center;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
}
.CollectionCard .presentation h1 {
  font-size: 24px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0em;
  margin-bottom: 10px;
}
.CollectionCard .presentation .bottom_area h1 {
  background: -webkit-linear-gradient(#30e6ff, #ea45fc);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
  text-align: center;
  width: 100%;
}
.CollectionCard img {
  border-radius: 10px;
  width: 100%;
}
.CollectionCard .presentation p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #9294a0;
}
.Roadmap {
  padding-top: 4rem;
}
.Team {
  padding-top: 6rem;
}
.Roadmap,
.Team {
  padding-bottom: 2rem;
  position: relative;
}
.Roadmap > img,
.Team > img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);
}
.Games > h1,
.Roadmap > h1,
.Team > h1,
.Investors > h1,
.Contacts > h1,
.creators > h1,
.Players > h1 {
  color: #fff;
  font-size: 43px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0em;
  text-align: center;
}
.Roadmap > p,
.Team > p,
.Investors > p,
.Contacts > p,
.creators > p,
.Players > p {
  font-size: 18px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  color: #9294a0;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}
.Team_wrapper {
  display: grid;
  grid-template-columns:
    minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr)
    minmax(0, 1fr);
  grid-gap: 3rem;
  margin-top: 4rem;
}
.Team .TeamMember {
  color: #fff;
  text-align: center;
  width: 100%;
}
.Team .TeamMember img {
  width: 100%;
}
.Team .TeamMember .presentation > h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 5px;
}
.Team .TeamMember .presentation > p {
  font-size: 18px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
  color: #9294a0;
}
.Investors {
  padding-top: 8rem;
}
.Investors > p {
  margin-bottom: 4rem;
}
.Investors .Investor_pics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  align-items: center;
}
.Investors .Investor_pics img {
  width: 100%;
}
.Contacts_wrapper {
  padding-top: 8rem;
  background: url('../assets/img/footer/footer_bg.svg');
  height: 965px;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
}
.Contacts {
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
.Contacts button img:hover {
  opacity: 0.88;
}
.Contacts > p {
  margin-bottom: 4rem;
  margin-top: 2rem;
}
.Contacts > .footer_logo {
  padding-bottom: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-bottom: 1px solid #dedfe478;
  margin-top: 4rem;
}
.Contacts nav {
  display: flex;
  align-items: center;
  margin-top: 2rem;
}
.Contacts nav > * + * {
  margin-left: 1rem;
}
.creators,
.Players {
  height: 1550px;
  padding-top: 5rem;
  position: relative;
}
.creators > img {
  top: 23rem;
  position: absolute;
  filter: brightness(50%);
}
.Players > img {
  top: 23rem;
  right: 0px;
  position: absolute;
  filter: brightness(50%);
}

.creators > img:first-child,
.Players > img:first-child {
  right: 50%;
  transform: translateX(50%);
  top: 0px;
}
.creators > img:first-child {
  right: 70%;
}
.creators .lists,
.Players .lists {
  padding: 0rem 8rem;
  padding-top: 3.5rem;
}
.creators .lists > *,
.Players .lists > * {
  position: relative;
}
.creators .lists > * + *,
.Players .lists > * + * {
  margin-top: 3.5rem;
}
.creators .lists .box {
  position: absolute;
  background: #0e142b;
  border: 2px solid #801887;
  padding: 2rem;
  border-radius: 10px;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  width: 50%;
}
.Players .lists .box {
  position: absolute;
  background: #0e142b;
  border: 2px solid #801887;
  padding: 2rem;
  border-radius: 10px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  width: 50%;
}
.creators .lists .box > h1,
.Players .lists .box > h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  color: #fff;
  width: 85%;
  margin-bottom: 1rem;
}
.creators .lists .box > p,
.Players .lists .box > p {
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0em;
  text-align: left;
  color: #9294a0;
}
.Players .lists .list {
  display: flex;
  justify-content: flex-end;
}
.slider_box {
  margin-top: 0rem;
  padding: 0rem 4rem;
}
.slider_box .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding-bottom: 2rem;
  height: 100%;
}
.slider_box .box {
  border-bottom: 2px solid #13283f;
}
.slider_box .splide__arrow svg {
  fill: #fff;
}
.slider_box .splide__arrow--prev {
  left: -6em !important;
}
.slider_box .splide__arrow--next {
  right: -6em !important;
}
.slider_box .splide__arrow {
  opacity: 1 !important;
  background-color: #161835 !important;
  width: 70px !important;
  height: 70px !important;
  border-radius: 50%;
  top: 38%;
}
.slider_box .box.active::after {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  content: '';
  background: linear-gradient(
    0deg,
    rgba(36, 231, 242, 0.15) 0%,
    rgba(225, 25, 239, 0) 100%,
    rgba(4, 9, 15, 0) 100%
  );
  border-bottom: 2px solid #801887;
}
.splide__slide {
  cursor: pointer;
}
/* .splide__slide > * {
  pointer-events: none !important;
} */
.slider_box > *.active::before {
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0px;
  left: 0px;

  background: linear-gradient(90deg, #24e7f2 0%, #e119ef 100%);
  content: '';
}
.slider_box > img {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 300px;
  width: 87%;
  content: '';
  z-index: -22;
}
.slider_box .arrows_wrapper {
  position: absolute;
  justify-content: space-between;
  top: 480px;
  left: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  z-index: 9999;
}
.slider_box .arrows_wrapper button {
  background: transparent;
  border: none;
  cursor: pointer;
}
.slider_box .box {
  position: relative;
  z-index: 22;
}
.slider_box h1 {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
}
.slider_box p {
  color: #9294a0;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  padding: 0rem 2rem;
  margin-top: 1rem;
}
.splide.is-initialized,
.splide.is-rendered {
  z-index: 99999;
}
